@font-face {
  font-family: "Golos Text";
  font-weight: 700;
  font-style: normal;
  src: url("GolosText-Bold.woff2") format("woff2"), url("GolosText-Bold.woff") format("woff");
}
@font-face {
  font-family: "Golos Text";
  font-weight: 600;
  font-style: normal;
  src: url("GolosText-SemiBold.woff2") format("woff2"), url("GolosText-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Golos Text";
  font-weight: 500;
  font-style: normal;
  src: url("GolosText-Medium.woff2") format("woff2"), url("GolosText-Medium.woff") format("woff");
}
@font-face {
  font-family: "Golos Text";
  font-weight: 400;
  font-style: normal;
  src: url("GolosText-Regular.woff2") format("woff2"), url("GolosText-Regular.woff") format("woff");
}
@font-face {
  font-family: "Merriweather";
  font-weight: 700;
  font-style: normal;
  src: url("Merriweather-Bold.woff2") format("woff2"), url("Merriweather-Bold.woff") format("woff");
}
@font-face {
  font-family: "Merriweather";
  font-weight: 300;
  font-style: normal;
  src: url("Merriweather-Light.woff2") format("woff2"), url("Merriweather-Light.woff") format("woff");
}
@font-face {
  font-family: "Merriweather";
  font-weight: 400;
  font-style: normal;
  src: url("Merriweather-Regular.woff2") format("woff2"), url("Merriweather-Regular.woff") format("woff");
}
* {
  box-sizing: border-box;
}

body {
  color: #313131;
  font-size: 18px;
  font-family: "Golos Text";
  font-weight: 400;
  line-height: 130%; /* 23.4px */
  font-style: normal;
}

img {
  max-width: 100%;
}

.text-accent {
  color: #f54932;
  font-weight: 700;
}

.text-line-through {
  text-decoration: line-through;
  text-decoration-color: #f54932;
}

.text-reference {
  color: #3057a2;
  line-height: 120%; /* 21.6px */
}

@media (min-width: 1366px) {
  .text-reference {
    font-size: 20px;
  }
}
h1,
h2,
h3 {
  font-family: "Merriweather";
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
}

h1,
h2 {
  font-size: 36px;
  line-height: 110%; /* 39.6px */
}

h3 {
  font-size: 28px;
  line-height: 135%; /* 37.8px */
}

@media (min-width: 1366px) {
  h1 {
    font-size: 60px;
    line-height: 110%; /* 66px */
  }
  h2 {
    font-size: 54px;
    line-height: 120%; /* 64.8px */
  }
  h3 {
    font-size: 36px;
    line-height: 135%; /* 48.6px */
  }
}
.button {
  display: flex;
  width: 100%;
  padding: 18px 20px;
  font-family: "Golos Text";
  font-size: 16px;
  font-weight: 500;
  line-height: 130%; /* 20.8px */
  border: none;
  border-radius: 66px;
  background-color: #1f1f1f;
  color: #fff;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s;
}
.button:hover {
  background-color: #fbce51;
  color: #1f1f1f;
}
.button_white {
  background-color: #fff;
  color: #1f1f1f;
}
.button_white:hover {
  background-color: #1f1f1f;
  color: #fff;
}
.button_round {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 0;
}
.button_prev {
  background-image: url("../img/arrow-left_white.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px;
}
.button_next {
  background-image: url("../img/arrow-right_white.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px;
}
.button_reference {
  padding: 12px;
  margin: 0 auto;
  width: auto;
  color: #3057a2;
  border-radius: 62px;
  border: 1px solid #3057a2;
  background-color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
  transition: all 0.2s;
}
.button_reference:hover {
  color: #fff;
  background-color: #3057a2;
}

@media (min-width: 1366px) {
  .button_white {
    background-color: inherit;
    border: 2px solid #1f1f1f;
  }
}
.container {
  margin: 0 auto;
  max-width: 375px;
  padding: 0 20px;
}

@media (min-width: 1366px) {
  .container {
    max-width: 1222px;
    padding: 0;
  }
}
.logo_mobile {
  width: 213px;
}
.logo_desktop {
  display: none;
}

@media (min-width: 1366px) {
  .logo_mobile {
    display: none;
  }
  .logo_desktop {
    display: block;
    width: 245px;
  }
}
.ticker {
  font-family: "Merriweather";
  font-size: 16px;
  text-transform: uppercase;
  line-height: 110%; /* 17.6px */
  padding: 10px 0;
  background: #f54932;
  color: #fff;
}

@media (min-width: 1366px) {
  .ticker {
    padding: 18px 0;
    font-size: 22px;
    line-height: 110%; /* 24.2px */
  }
}
.header__wrapper {
  background: url("/img/header-wrapper_bg.png") #e9ded4 no-repeat;
  background-size: 230%;
  background-position: 80% 97%;
  position: relative;
}
.header__inner {
  padding-top: 18px;
  padding-bottom: 330px;
}
.header__title {
  margin-top: 40px;
}
.header__title-rows_1 {
  text-align: start;
}
.header__title-rows_2 {
  text-align: center;
}
.header__title-rows_3 {
  text-align: end;
}
.header__text {
  margin-top: 24px;
}
.header__buttons {
  margin-top: 32px;
}
.header__button-more-info {
  margin-top: 14px;
  opacity: 0.9;
}
.header__ticker {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (min-width: 500px) {
  .header__wrapper {
    background-size: contain;
  }
}
@media (min-width: 1366px) {
  .header__wrapper {
    background-position: 80% 78%;
  }
  .header__inner {
    padding-top: 26px;
    padding-bottom: 190px;
    width: 542px;
  }
  .header__title {
    margin-top: 62px;
  }
  .header__text {
    text-align: center;
  }
  .header__buttons {
    display: flex;
    gap: 16px;
    margin-top: 40px;
    align-items: center;
  }
  .header__button-support {
    padding: 20px 45px;
  }
  .header__button-more-info {
    margin-top: 0;
    padding: 20px 50px;
  }
}
.tornment__inner {
  padding-top: 48px;
}
.tornment__image {
  margin-top: 24px;
}
.tornment__lecture {
  margin-top: 24px;
}

@media (min-width: 1366px) {
  .tornment__inner {
    padding-top: 48px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 750px 1fr 394px;
    grid-template-rows: 55% 45%;
  }
  .tornment__title {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: end;
  }
  .tornment__image {
    grid-column: 3;
    grid-row: 1/3;
    margin: 0;
    display: flex;
    align-self: center;
  }
  .tornment__lecture {
    grid-column: 1;
    grid-row: 2;
    margin: 0;
  }
}
.game__inner {
  padding-top: 20px;
}
.game__title {
  padding-top: 20px;
}
.game__about {
  padding-top: 45px;
}
.game__cell:not(:first-child) {
  border-top: 2px solid #d6d6d6;
  padding-top: 16px;
}
.game__label {
  font-size: 20px;
  line-height: 120%; /* 24px */
  color: #6f6f6f;
}
.game__info {
  font-size: 20px;
  font-weight: 600;
  line-height: 120%; /* 24px */
  padding-top: 12px;
  padding-bottom: 16px;
}
.game__administration {
  margin-top: 40px;
}

@media (min-width: 1366px) {
  .game__inner {
    height: 518px;
    display: grid;
    grid-template-columns: 1fr 15px 704px;
    grid-template-rows: 147px 1fr 1fr 1fr 24px;
  }
  .game__image {
    grid-column: 1;
    grid-row: 1/6;
  }
  .game__title {
    grid-column: 3;
    grid-row: 1/2;
    padding-top: 0;
    padding-right: 20px;
  }
  .game__about {
    grid-column: 3;
    grid-row: 3/4;
    padding-top: 0;
  }
  .game__administration {
    grid-column: 3;
    grid-row: 5/6;
    margin-top: 0;
  }
  .game__cell {
    display: flex;
    padding-top: 0;
  }
  .game__cell:not(:first-child) {
    padding-top: 0;
  }
  .game__label {
    width: 50%;
    align-self: center;
  }
  .game__info {
    width: 50%;
    border-left: 2px solid #d6d6d6;
    align-self: center;
    padding-left: 16px;
  }
}
.stages__inner {
  padding-top: 120px;
}
.stages__subtitle {
  margin-top: 12px;
}
.stages__slider {
  padding-top: 148px;
  position: relative;
}
.stages__airplane {
  position: absolute;
  top: 20px;
}

@media (min-width: 1366px) {
  .stages__title-wrapper {
    width: 806px;
    display: grid;
    grid-template-columns: 285px 15px 250px 1fr;
    grid-template-rows: 65px 65px;
  }
  .stages__subtitle {
    margin-top: 0;
    align-self: center;
  }
  .stages__title_row-1 {
    grid-column: 1/5;
    grid-row: 1;
  }
  .stages__title_row-2 {
    grid-column: 1;
    grid-row: 2;
  }
  .stages__subtitle {
    grid-column: 3;
    grid-row: 2;
  }
  .stages__slider {
    padding-top: 54px;
  }
  .stages__airplane {
    top: auto;
    right: 0;
    bottom: 0;
    width: 376px;
  }
}
.slider__slide {
  background-color: #e9ded4;
  padding: 62px 20px 10px 20px;
  gap: 28px;
  display: flex;
  flex-direction: column;
  min-height: 300px;
}
.slider__cell {
  display: flex;
  gap: 16px;
}
.slider__number {
  font-size: 20px;
  font-weight: 600;
  line-height: 120%; /* 24px */
  border-radius: 60px;
  background: #fff;
  width: 36px;
  height: 36px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.slider__text {
  font-weight: 500;
  line-height: 120%; /* 24px */
}
.slider__control {
  margin: 28px auto 0;
  width: 178px;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 1366px) {
  .slider__inner {
    display: grid;
    grid-template-columns: repeat(3, 394px);
    grid-template-rows: 112px 112px 136px;
    gap: 20px;
  }
  .slider__slide {
    padding: 0;
    flex-direction: row;
    gap: 20px;
    background-color: #fff;
    min-height: auto;
  }
  .slider__slide:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1;
  }
  .slider__slide:nth-child(2) {
    grid-column: 3;
    grid-row: 1/3;
  }
  .slider__slide:nth-child(3) {
    grid-column: 1/3;
    grid-row: 2;
  }
  .slider__slide:nth-child(4) {
    grid-column: 1;
    grid-row: 3;
  }
  .slider__slide:nth-child(5) {
    grid-column: 2/4;
    grid-row: 3;
  }
  .slider__slide:nth-child(5) > .slider__cell {
    padding-right: 330px;
  }
  .slider__cell {
    background-color: #e9ded4;
    padding: 20px 50px 20px 20px;
    min-width: 394px;
  }
}
.party {
  position: relative;
}
.party__inner {
  padding-top: 120px;
  padding-bottom: 100px;
}
.party__slider {
  margin-top: 40px;
}
.party__ticker {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.slider-party {
  text-align: center;
}
.slider-party__image-wrapper {
  display: flex;
  justify-content: center;
}
.slider-party__image-inner {
  width: 244px;
  height: 244px;
  background-color: #cdc1ae;
  display: flex;
  justify-content: center;
  align-items: end;
  border-radius: 50%;
}
.slider-party__image {
  width: 223px;
  border-radius: 50%;
}
.slider-party__title {
  margin-top: 22px;
  font-size: 24px;
  font-weight: 600;
  line-height: 120%; /* 28.8px */
}
.slider-party__status {
  margin-top: 6px;
  font-size: 20px;
  line-height: 120%; /* 24px */
  color: #6f6f6f;
}
.slider-party__about {
  margin-top: 20px;
}
.slider-party__control {
  width: 129px;
  margin: 40px auto 0;
  display: flex;
  justify-content: space-between;
}/*# sourceMappingURL=style.css.map */