@font-face {
  font-family: "Golos Text";
  font-weight: 700;
  font-style: normal;
  src: url("GolosText-Bold.woff2") format("woff2"), url("GolosText-Bold.woff") format("woff");
}
@font-face {
  font-family: "Golos Text";
  font-weight: 500;
  font-style: normal;
  src: url("GolosText-Medium.woff2") format("woff2"), url("GolosText-Medium.woff") format("woff");
}
@font-face {
  font-family: "Golos Text";
  font-weight: 400;
  font-style: normal;
  src: url("GolosText-Regular.woff2") format("woff2"), url("GolosText-Regular.woff") format("woff");
}
@font-face {
  font-family: "Merriweather";
  font-weight: 700;
  font-style: normal;
  src: url("Merriweather-Bold.woff2") format("woff2"), url("Merriweather-Bold.woff") format("woff");
}
@font-face {
  font-family: "Merriweather";
  font-weight: 300;
  font-style: normal;
  src: url("Merriweather-Light.woff2") format("woff2"), url("Merriweather-Light.woff") format("woff");
}
@font-face {
  font-family: "Merriweather";
  font-weight: 400;
  font-style: normal;
  src: url("Merriweather-Regular.woff2") format("woff2"), url("Merriweather-Regular.woff") format("woff");
}
* {
  box-sizing: border-box;
}

body {
  color: #313131;
  font-size: 18px;
  font-family: "Golos Text";
  font-weight: 400;
  line-height: 23.4px;
  font-style: normal;
}

img {
  max-width: 100%;
}

h1,
h2,
h3 {
  font-family: "Merriweather";
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: 36px;
  line-height: 39.6px;
}

h2 {
  font-size: 28px;
  line-height: 37.8px;
}

h3 {
  font-size: 28px;
  line-height: 37.8px;
}

@media (min-width: 1366px) {
  h1 {
    font-size: 60px;
    line-height: 66px;
  }
  h2 {
    font-size: 54px;
    line-height: 64.8px;
  }
  h3 {
    font-size: 36px;
    line-height: 48.6px;
  }
}
.button {
  display: flex;
  width: 100%;
  padding: 18px 20px;
  font-family: "Golos Text";
  font-size: 16px;
  font-weight: 500;
  line-height: 20.8px;
  border: none;
  border-radius: 66px;
  background: #1f1f1f;
  color: #fff;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s;
}
.button:hover {
  background: #fbce51;
  color: #1f1f1f;
}
.button_white {
  background: #fff;
  color: #1f1f1f;
}
.button_white:hover {
  background: #1f1f1f;
  color: #fff;
}

@media (min-width: 1366px) {
  .button_white {
    background-color: inherit;
    border: 2px solid #1f1f1f;
  }
}
.container {
  margin: 0 auto;
  max-width: 375px;
  padding: 0 20px;
}

@media (min-width: 1366px) {
  .container {
    max-width: 1222px;
  }
}
.logo_mobile {
  width: 213px;
}
.logo_desktop {
  display: none;
}

@media (min-width: 1366px) {
  .logo_mobile {
    display: none;
  }
  .logo_desktop {
    display: block;
    width: 245px;
  }
}
.header__wrapper {
  background: url("/img/header-wrapper_bg.png") #e9ded4 no-repeat;
  background-size: 230%;
  background-position: 80% 97%;
  position: relative;
}
.header__inner {
  padding-top: 18px;
  padding-bottom: 330px;
}
.header__title {
  margin-top: 40px;
}
.header__title-rows_1 {
  text-align: start;
}
.header__title-rows_2 {
  text-align: center;
}
.header__title-rows_3 {
  text-align: end;
}
.header__text {
  margin-top: 24px;
}
.header__buttons {
  margin-top: 32px;
}
.header__button-more-info {
  margin-top: 14px;
  opacity: 0.9;
}
.header__ticker {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "Merriweather";
  font-size: 16px;
  text-transform: uppercase;
  line-height: 17.6px;
  padding: 10px 0;
  background: #f54932;
  color: #fff;
}

@media (min-width: 500px) {
  .header__wrapper {
    background-size: contain;
  }
}
@media (min-width: 1366px) {
  .header__wrapper {
    background-position: 80% 78%;
  }
  .header__inner {
    padding-top: 26px;
    padding-bottom: 190px;
    width: 542px;
  }
  .header__title {
    margin-top: 62px;
  }
  .header__text {
    text-align: center;
  }
  .header__buttons {
    display: flex;
    gap: 16px;
    margin-top: 40px;
    align-items: center;
  }
  .header__button-support {
    padding: 20px 45px;
  }
  .header__button-more-info {
    margin-top: 0;
    padding: 20px 50px;
  }
  .header__ticker {
    padding: 18px 0;
    font-size: 22px;
    line-height: 24.2px;
  }
}
.tornment__inner {
  padding-top: 48px;
}
.tornment__image {
  margin-top: 24px;
}
.tornment__lecture {
  margin-top: 24px;
}
.tornment__accent {
  color: #f54932;
  font-weight: 700;
}

@media (min-width: 1366px) {
  .tornment__inner {
    padding-top: 48px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 750px 1fr 394px;
    grid-template-rows: 55% 45%;
  }
  .tornment__title {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: end;
  }
  .tornment__image {
    grid-column: 3;
    grid-row: 1/3;
    margin: 0;
    display: flex;
    align-self: center;
  }
  .tornment__lecture {
    grid-column: 1;
    grid-row: 2;
    margin: 0;
  }
}/*# sourceMappingURL=style.css.map */